Client/Service References/UserAndRolesService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10727/UserAndRoles.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10727/UserAndRoles.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10727/UserAndRoles.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserAndRolesService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUser_GetAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllList" />
  </wsdl:message>
  <wsdl:message name="IUser_GetAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IUser_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IUser_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IUser_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IUser_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_AddUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserRole" />
  </wsdl:message>
  <wsdl:message name="IUser_AddUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_RemoveUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserRole" />
  </wsdl:message>
  <wsdl:message name="IUser_RemoveUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_UpdateUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserRole" />
  </wsdl:message>
  <wsdl:message name="IUser_UpdateUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoles_UserAndRolesList_InputMessage">
    <wsdl:part name="parameters" element="tns:UserAndRolesList" />
  </wsdl:message>
  <wsdl:message name="IRoles_UserAndRolesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserAndRolesListResponse" />
  </wsdl:message>
  <wsdl:message name="IRoles_GetAllRoleList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoleList" />
  </wsdl:message>
  <wsdl:message name="IRoles_GetAllRoleList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoleListResponse" />
  </wsdl:message>
  <wsdl:message name="IRoles_GetRoleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleById" />
  </wsdl:message>
  <wsdl:message name="IRoles_GetRoleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRoles_CreateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRole" />
  </wsdl:message>
  <wsdl:message name="IRoles_CreateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoles_UpdateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRole" />
  </wsdl:message>
  <wsdl:message name="IRoles_UpdateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoles_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="IRoles_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="IUser">
    <wsdl:operation name="GetAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetAllList" message="tns:IUser_GetAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetAllListResponse" message="tns:IUser_GetAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetById" message="tns:IUser_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetByIdResponse" message="tns:IUser_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Create" message="tns:IUser_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/CreateResponse" message="tns:IUser_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Update" message="tns:IUser_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/UpdateResponse" message="tns:IUser_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Delete" message="tns:IUser_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/DeleteResponse" message="tns:IUser_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/AddUserRole" message="tns:IUser_AddUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/AddUserRoleResponse" message="tns:IUser_AddUserRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/RemoveUserRole" message="tns:IUser_RemoveUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/RemoveUserRoleResponse" message="tns:IUser_RemoveUserRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/UpdateUserRole" message="tns:IUser_UpdateUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/UpdateUserRoleResponse" message="tns:IUser_UpdateUserRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRoles">
    <wsdl:operation name="UserAndRolesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoles/UserAndRolesList" message="tns:IRoles_UserAndRolesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoles/UserAndRolesListResponse" message="tns:IRoles_UserAndRolesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRoleList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoles/GetAllRoleList" message="tns:IRoles_GetAllRoleList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoles/GetAllRoleListResponse" message="tns:IRoles_GetAllRoleList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoles/GetRoleById" message="tns:IRoles_GetRoleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoles/GetRoleByIdResponse" message="tns:IRoles_GetRoleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoles/CreateRole" message="tns:IRoles_CreateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoles/CreateRoleResponse" message="tns:IRoles_CreateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoles/UpdateRole" message="tns:IRoles_UpdateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoles/UpdateRoleResponse" message="tns:IRoles_UpdateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoles/DeleteRole" message="tns:IRoles_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoles/DeleteRoleResponse" message="tns:IRoles_DeleteRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUser" type="tns:IUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllList">
      <soap:operation soapAction="http://tempuri.org/IUser/GetAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IUser/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IUser/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IUser/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IUser/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserRole">
      <soap:operation soapAction="http://tempuri.org/IUser/AddUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserRole">
      <soap:operation soapAction="http://tempuri.org/IUser/RemoveUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRole">
      <soap:operation soapAction="http://tempuri.org/IUser/UpdateUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IRoles" type="tns:IRoles">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserAndRolesList">
      <soap:operation soapAction="http://tempuri.org/IRoles/UserAndRolesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoleList">
      <soap:operation soapAction="http://tempuri.org/IRoles/GetAllRoleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <soap:operation soapAction="http://tempuri.org/IRoles/GetRoleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <soap:operation soapAction="http://tempuri.org/IRoles/CreateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <soap:operation soapAction="http://tempuri.org/IRoles/UpdateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/IRoles/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IUser" binding="tns:BasicHttpBinding_IUser">
      <soap:address location="http://localhost:10727/UserAndRoles.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IRoles" binding="tns:BasicHttpBinding_IRoles">
      <soap:address location="http://localhost:10727/UserAndRoles.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>